* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
}

nav {
    width: 98%;
    height: 100px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    background: black;
}

nav img {
    width: 300px;
    margin-left: 15px;
}

.hero {
    margin-top: 20px;
}

.hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero h1, p {
    margin-left: 1%;
}

.hero h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.hero p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    width: 80%;
}

.card {
    margin-top: 50px;
    margin-left: 1%;
    display: flex;
}

.card--content {
    margin-left: 15px;
}

.card--content h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.card--content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    width: 50%;
}